root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,py,rb,erb,sh,go}]
charset = utf-8

[*.{rb,erb,html,sh}]
indent_style = space
indent_size = 2

[*.{py}]
indent_style = space
indent_size = 4

[{*.go,Makefile}]
indent_style = tab
indent_size = tab
tab_width = 2

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
