[http]
          sslVerify = true
[user]
          name = tzmfreedom
          email = makoto_tajitsu@hotmail.co.jp
[core]
          excludesfile = ~/.gitignore_global
          editor = vim -c \"set fenc=utf-8\"
[ghq]
          root = ~/dev/src
[init]
          templatedir = ~/.git_template

[url "ssh://git@github.com"]
	insteadOf = https://github.com
